ul.carousel{
  width: 100%;
  margin: 0 auto;
}

ul.carousel img{
  position:absolute;
  top:50%;
  min-height:100%;
  display:block;
  left:50%;
  transform: translate(-50%, -50%);
  min-width:100%;
}

.carousel-enter {
  opacity: 0.01;
}

.carousel-enter.carousel-enter-active {
  opacity: 1;
  transition: opacity  500ms ease-in;
}

.carousel-leave {
  opacity: 1;
}

.carousel-leave.carousel-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}



